<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka.persistence { 
          journal {
            plugin = "akka.persistence.journal.sqlite"
            sql-server {
                class = "Akka.Persistence.Sqlite.Journal.SqliteJournal, Akka.Persistence.Sqlite"
                auto-initialize = true
                connection-string = "Filename=./persist.db"
            }
          }
          snapshot-store{
            plugin = "akka.persistence.snapshot-store.sqlilte"
            sql-server {
                class = "Akka.Persistence.Sqlite.Snapshot.SqliteSnapshotStore, Akka.Persistence.Sqlite"
                auto-initialize = true
                connection-string = "Filename=./persist.db"
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>